/* global */

/* config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cores e tipografia */
:root {
    --cor-0: #000;
    --cor-1: #111;
    --cor-2: #595959;
    --cor-3: #b2b2b2;
    --cor-p1: #ffbb00;
    --cor-p2: #320;
    --font-main: "Poppins", sans-serif;
    --font-secondary: "Roboto", sans-serif;
}

/* classes utilitarias */
.btn {
    display: inline-block;
    background: linear-gradient(var(--cor-p1), #f2a50c);
    color: var(--cor-p2);
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 24px;
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

@media(width <=850px) {
    .btn {
        padding: 10px 20px;
    }
}

/* resets */
img {
    display: block;
    max-width: 100%;
}

img[src$=".jpg"] {
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-family: var(--font-main);
}

ul {
    list-style: none;
}