/* global */

/* config */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cores e tipografia */
:root {
    --cor-0: #000;
    --cor-1: #111;
    --cor-2: #595959;
    --cor-3: #b2b2b2;
    --cor-4: #9c9c9c;
    --cor-5: #404040;
    --cor-6: #ededed;
    --cor-7: #f7f7f7;
    --cor-8: #ccc;
    --cor-9: #2e2e2e;
    --cor-p1: #ffbb00;
    --cor-p2: #320;
    --font-main: "Poppins", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-three: "Merriweather", sans-serif;
}

/* classes utilitarias */
.btn {
    display: inline-block;
    background: linear-gradient(var(--cor-p1), #f2a50c);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--cor-p2);
    font: 600 1.125rem/1.35 var(--font-main);
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: max-content;
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.btn.btn-secondary {
    background: var(--cor-5);
    color: var(--cor-6);
}

@media(width <=600px) {
    .btn {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

/* resets */
img {
    display: block;
    max-width: 100%;
}

img[src$=".jpg"] {
    border-radius: 4px;
}

a {
    text-decoration: none;
    font-family: var(--font-main);
}

ul {
    list-style: none;
}