/* media queries bikcraft */

/* header */
@media (width <=800px) {
    .header-menu {
        gap: 1.5rem;
    }

    .header-menu li a {
        background-color: var(--cor-1);
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 1rem;
    }

    .header-menu li a:hover::after {
        display: none;
    }
}

@media (width <=600px) {
    .header-menu {
        gap: 1rem;
    }

    .header-menu li a {
        padding: 10px;
        font-size: 0.8rem;
    }
}

/* main-introdução */
@media(width <=1200px) {
    .introducao-conteudo h1 {
        font-size: 3rem;
    }
}

@media(width <=1050px) {
    .introducao-bg {
        box-shadow: inset 0px -80px #fff;
    }

    .introducao-conteudo h1 {
        margin-bottom: 1rem;
    }

    .introducao-conteudo p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

@media(width <=850px) {
    .introducao-bg {
        background-color: var(--cor-1);
    }

    .introducao-container {
        grid-template-columns: 1fr;
        padding-top: 2rem;
    }

    .introducao-conteudo h1 {
        font-size: 2rem;
    }

    .introducao-conteudo p {
        font-size: 1rem;
    }

    .introducao-img img {
        width: 100%;
        height: 300px;
    }
}

/* main-escolha-bicicleta */
@media (width <=1300px) {
    .escolha-bicicleta h2 {
        padding-left: 1rem;
        font-size: 2.5rem;
    }
}

@media (width <=950px) {
    .introducao-bg {
        margin-bottom: 1rem;
    }

    .escolha-lista {
        gap: 1rem;
        overflow-x: auto;
    }

    .escolha-item h3 {
        font-size: 1.5rem;
    }
}

/* main-tecnologia */
@media (width <=1250px) {
    .tecnologia-container {
        padding: 0 1.5rem;
    }
}

@media (width <=960px) {
    .tecnologia-artigo h3 {
        font-size: 1rem;
    }

    .tecnologia-artigo h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .tecnologia-artigo p {
        font-size: 1.2rem;
        text-wrap: balance;
    }

    .tecnologia-artigo a {
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

@media (width <=825px) {
    .tecnologia-bg {
        margin-top: 2rem;
        box-shadow: initial;
    }

    .tecnologia-container article {
        padding: 2rem 0;
    }

    .tecnologia-container {
        grid-template-columns: 1fr;
    }

    .tecnologia-img img {
        display: none;
    }
}

@media (width <=400px) {
    .tecnologia-artigo h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .eletrico-rastreador {
        flex-wrap: wrap;
    }
}

/* main-parceiros */
@media (width <=1250px) {
    .parceiros h2 {
        padding-left: 1.5rem;
    }
}

@media (width <=800px) {
    .parceiros h2 {
        font-size: 3rem;
        padding-bottom: 2.5rem;
    }
}

@media (width <=600px) {
    .parceiros-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros-img li {
        border-right: 2px solid var(--cor-3);
        border-left: none;
    }

    .parceiros-img li:nth-child(even) {
        border-right: none;
    }

    .parceiros-img li:nth-child(n + 3) {
        border-top: 2px solid var(--cor-3);
    }
}

@media (width <=470px) {
    .parceiros h2 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
}

@media (width <=300px) {
    .parceiros {
        padding-top: 1.5rem;
    }

    .parceiros-img li {
        padding: 1.5rem;
    }
}

/* depoimentos */
@media(width <=950px) {
    .depoimento-conteudo h2 {
        font-size: 1.5rem;
    }

    .depoimento-conteudo h2::before {
        font-size: 3.5rem;
        left: -40px;
    }

    .depoimento-conteudo h2::after {
        font-size: 3.5rem;
    }
}

@media(width <=800px) {
    .depoimento {
        grid-template-columns: 1fr;
    }

    .depoimento-img img {
        max-height: 200px;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .depoimento-conteudo {
        padding: 0px;
        justify-self: center;
        text-align: center;
    }

    .depoimento-conteudo h2::before {
        left: -15px;
        top: -10px;
    }

    .depoimento-conteudo p {
        text-align: center;
        margin: 1rem;
    }
}

@media(width <=540px) {
    .depoimento-conteudo h2 {
        font-size: 1rem;
    }

    .depoimento-conteudo h2::before,
    .depoimento-conteudo h2::after {
        font-size: 2.5rem;
    }

    .depoimento-conteudo p {
        font-size: 1rem;
    }
}

@media(width <=380px) {
    .depoimento {
        overflow-x: hidden;
    }

    .depoimento-conteudo h2::before {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .depoimento-conteudo h2::after {
        font-size: 1.5rem;
        padding-right: 1rem;
    }
}

/* seguros */
@media (width <=800px) {
    .seguros-container {
        padding: 1.5rem 1.25rem;
    }

    .seguros-item {
        padding: 2rem;
    }

    .seguros-item-header {
        margin-bottom: 1.5rem;
    }

    .seguros-item-header h3 {
        font-size: 1.5rem;
    }

    .seguros-item-header h4 {
        font-size: 1.5rem;
    }

    .seguros-item-lista {
        font-size: 1rem;
    }
}

@media (width <=600px) {
    .seguros-container {
        grid-template-columns: 1fr;
    }

    .seguros-item-header h3 {
        font-size: 2rem;
    }

    .seguros-item-lista {
        font-size: 1.4rem;
    }

    .seguros-item-btn {
        display: flex;
        justify-content: center;
    }
}

@media(width <=400px) {

    .seguros-item-header h3 {
        font-size: 1.5rem;
    }

    .seguros-item-header h4 {
        font-size: 1.2rem;
    }

    .seguros-item-lista {
        font-size: 1rem;
    }
}

@media(width <=300px) {
    .seguros-container h2 {
        font-size: 3rem;
    }
}

/* footer */
@media(width <=750px) {
    .footer-container {
        gap: 0px 2rem;
    }
}

@media(width <=600px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .footer-direitos {
        margin-top: 0rem;
    }
}