/* media queries - bicicletas */
@media(width <=800px) {
    .bicicletas-titulo {
        padding: 2rem 1.25rem;
    }

    .bicicletas-titulo p {
        font-size: 1rem;
    }

    .bicicletas-titulo h1 {
        font-size: 2.5rem;
    }

    .bicicletas-container {
        grid-template-columns: 1fr;
        padding: 2rem 1.25rem;
    }

    .bicicletas-img img {
        margin-bottom: 1.5rem;
    }

    .bicicletas-conteudo h2 {
        font-size: 1.5rem;
    }

    .bicicletas-sobre {
        grid-template-columns: 1fr;
    }

    .bicicletas-sobre ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bicicletas-sobre a {
        place-self: start;
        margin: 2rem 0px;
    }

    .magic-bg {
        background: var(--cor-1);
    }
}

@media (width <=400px) {
    .bicicletas-sobre ul {
        font-size: 1rem;
    }
}