/* media queries termos e condições */
@media(width <=800px) {
    .termos-titulo {
        padding: 2.5rem 1.25rem;
    }

    .termos-titulo h2 {
        font-size: 1rem;
    }

    .termos-titulo h3 {
        font-size: 3rem;
    }

    .termos-conteudo {
        padding: 2.5rem 1.25rem;
    }
}

@media (width <=400px) {
    .termos-titulo h3 {
        font-size: 2rem;
    }
}