/* bicicletas */

/* bicicletas-container*/
.bicicletas {
    padding: 3.75rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 2.5rem;
}

.bicicletas-img {
    position: relative;
}

.bicicletas-img span {
    position: absolute;
    top: 20px;
    right: 0px;
    color: #fff;
    font: 500 1.125rem/1.35 var(--font-secondary), sans-serif;
    background-color: var(--cor-0);
    padding: 8px 16px 8px 8px;
    border-radius: 4px 0px 0px 4px;
}

.bicicletas-conteudo h2 {
    color: var(--cor-1);
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.bicicletas-conteudo h2::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas-conteudo p {
    color: var(--cor-2);
    font: 400 1rem/1.5 var(--font-secondary), sans-serif;
    margin-bottom: 2rem;
}

.bicicletas-sobre {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bicicletas-sobre-lista li {
    display: flex;
    align-items: center;
    color: var(--cor-2);
    font: 500 1.125rem/1.35 var(--font-main), sans-serif;
    margin-bottom: 1rem;
}

.bicicletas-sobre-lista li img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.bicicletas-sobre a {
    place-self: end;
}

/* magic might */
.magic-bg {
    background: linear-gradient(to right, #fff 30%, var(--cor-1) 0%);
}

.bicicletas-conteudo.magic h2 {
    color: #fff;
}

.bicicletas-conteudo.magic p,
.bicicletas-sobre-lista.magic li {
    color: var(--cor-3);
}