/* media queries - contato */

@media(width<=800px) {
    .contato-content {
        grid-template-columns: 1fr;
        background: linear-gradient(to bottom, var(--cor-0) 48%, #fff 0%);
        padding: 1.25rem;
    }

    .contato-form {
        margin-top: 5rem;
    }
}

@media(width <=600px) {
    .contato-form {
        display: flex;
        flex-direction: column;
    }

    .contato-content {
        background: linear-gradient(to bottom, var(--cor-0) 45%, #fff 0%);
    }
}