/* contato - media queries */

@media(width <=800px) {
    .dados-form {
        grid-template-columns: 1fr;
        padding-bottom: 3.5rem;
    }

    .contato-dados,
    .form-container {
        padding: 2rem;
    }

    .contato-dados h2 {
        margin-bottom: 1.5rem;
    }
}

@media(width <=400px) {
    .form {
        display: flex;
        flex-direction: column;
    }
}