/* contato - lojas locais - media queries */

@media(width <=800px) {
    .lojas-locais {
        gap: 1.25rem;
    }

    .lojas-lista {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .lojas-lista li:nth-child(2) {
        grid-row: 3;
    }
}

@media(width <=600px) {
    .lojas-locais {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .loja-item {
        margin-bottom: 1.25rem;
    }

    .loja-item h2 {
        font-size: 1.5rem;
    }
}