/* header bikcraft */

.header-bg {
    background-color: var(--cor-0);
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    font-family: var(--font-main);
}

.header-menu li a {
    display: inline-block;
    padding: 16px 0;
    font-size: 1.175rem;
    position: relative;
    color: #fff;
}

.header-menu li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #fff;
    margin-top: 2px;
    transition: 0.3s;
    position: absolute;
}

.header-menu li a:hover::after {
    width: 100%;
}