/* media queries - nimbus stark */

@media(width <=800px) {
    .nimbus-titulo p {
        font-size: 1.5rem;
    }

    .nimbus-titulo h1 {
        font-size: 3rem;
    }

    .nimbus-content {
        grid-template-columns: 1fr;
    }
}

@media(width <=500px) {
    .nimbus-container {
        padding: 2rem 1.25rem;
    }

    .nimbus-titulo p {
        font-size: 1rem;
    }

    .nimbus-titulo h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .nimbus-info p {
        font-size: 1rem;
    }

    .nimbus-comprar {
        grid-template-columns: 1fr;
    }

    .nimbus-lista {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}