/* media queries - outras bicicletas - nimbus stark */

@media (width <=800px) {
    .outras-bicicletas h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (width <=600px) {
    .outras-bicicletas-lista {
        flex-direction: column;
    }
}

@media (width <=400px) {
    .outras-bicicletas-item a h3 {
        font-size: 1.5rem;
    }
}