/* contato */

.contato-bg {
    background: linear-gradient(var(--cor-1) 600px, var(--cor-7) 0px);
}

.dados-form {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding: 0px 1.25rem 7.5rem 1.25rem;
}

.contato-dados {
    background-color: var(--cor-0);
    padding: 3.75rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0px 0px 8px;
}

.contato-dados h2 {
    color: #fff;
    font: 500 1.125rem/1.35 var(--font-main), sans-serif;
    text-transform: capitalize;
    margin-bottom: 3.75rem;
}

.dados-endereco {
    background: url(../../img/icones/local.svg) no-repeat;
    padding-left: 28px;
    margin-bottom: 2rem;
}

.dados-endereco li {
    color: var(--cor-8);
    font: 400 1rem/1.5 var(--font-secondary), sans-serif;
    margin-bottom: 8px;
}

.dados-mail-tel li:nth-child(1) {
    background: url(../../img/icones/email.svg) no-repeat;
}

.dados-mail-tel li a {
    display: block;
    max-width: max-content;
    color: var(--cor-8);
    font-family: var(--font-secondary);
    padding-left: 28px;
    margin-bottom: 8px;
}

.dados-mail-tel li a:hover {
    color: #fff;
}

.dados-mail-tel li:nth-child(3) {
    margin-top: 2rem;
    margin-bottom: 3.75rem;
    background: url(../../img/icones/telefone.svg) no-repeat;
}

.dados-redes {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 1.75rem;
}