/* header bikcraft */

.header-bg {
    background-color: var(--cor-0);
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header img {
    min-width: max-content;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.header-menu li a {
    display: inline-block;
    padding: 16px 0;
    font: 500 1.125rem/1.35 var(--font-main), sans-serif;
    position: relative;
    color: #fff;
}

.header-menu li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #fff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu li a:hover::after,
.header-menu li a.ativo::after {
    width: 100%;
}