/* home - depoimento */

.depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-p1);
}

.depoimento-img img {
    border-radius: initial;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2.5rem 2.5rem 5rem 5rem;
}

.depoimento-conteudo blockquote {
    margin-top: auto;
}

.depoimento-conteudo p {
    position: relative;
    color: var(--cor-p2);
    font: italic 900 2rem/1.25 var(--font-three), sans-serif;
    max-width: 32ch;
}

.depoimento-conteudo p::before {
    position: absolute;
    left: -50px;
    top: -20px;
    content: '“';
    color: #e4a30b;
    font-size: 5rem;
}

.depoimento-conteudo p::after {
    position: absolute;
    content: "”";
    color: #e4a30b;
    font-size: 5rem;
}

.depoimento-conteudo span {
    color: #640;
    font: 600 1.125rem/1.35 var(--font-main), sans-serif;
    margin-top: 2rem;
}