/* main - introdução */

.introducao-bg {
    background-color: var(--cor-0);
    color: #fff;
    box-shadow: inset 0px -120px #fff;
    margin-bottom: 2.5rem;
}

.introducao.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1.25rem;
    gap: 2.5rem;
}

.introducao-conteudo h1 {
    font: 600 4rem/1.125 var(--font-main), sans-serif;
    margin-bottom: 2rem;
}

.introducao-conteudo h1 span {
    color: var(--cor-p1);
}

.introducao-conteudo p {
    color: #b2b2b2;
    font: 400 1.5rem/1.5 var(--font-secondary), sans-serif;
    margin-bottom: 2rem;
}

.introducao-img img {
    object-fit: cover;
}