/* seguros - perguntas frequentes */
.perguntas {
    padding: 7.5rem 1.25rem;
}

.perguntas-lista {
    margin-top: 3.75rem;
}

.perguntas-item {
    padding: 1.25rem;
    border-radius: 4px;
}

.perguntas-item:nth-child(odd) {
    background-color: var(--cor-7);
}

.perguntas-item button {
    font: 600 1.125rem/1.35 var(--font-main), sans-serif;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.perguntas-item button::before {
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    display: inline-block;
}

.perguntas-item button::after {
    content: "";
    display: inline-block;
    background-image: url(../../img/icones/seta-abrir.svg);
    width: 14px;
    height: 6px;
    transition: 0.3s;
}

.perguntas-item button:hover::after,
.perguntas-item button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.perguntas-item dd {
    color: var(--cor-5);
    font: 400 1rem/1.5 var(--font-secondary), sans-serif;
    max-width: 75ch;
    padding-left: 1.25rem;
    padding-top: 1rem;
}

.js .perguntas-item dd {
    display: none;
}

.js .perguntas-item dd.pergunta-ativo {
    display: block;
}