/* página seguros */
.seguros-pg-bg {
    background-color: var(--cor-1);
}

.seguros-pg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0px 2.5rem;
    padding: 0px 1.25rem 3.75rem 1.25rem;
}

.seguros-pg-item {
    background-color: var(--cor-0);
    border-radius: 4px;
    padding: 2rem 3.5rem;
}

.segurospg-item-titulo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.segurospg-item-titulo h3 {
    color: var(--cor-4);
    font: 600 2rem/1.25 var(--font-main), sans-serif;
}

.segurospg-item-titulo p {
    color: #fff;
    display: flex;
    flex-direction: column;
    font: 600 2rem/1.25 var(--font-main), sans-serif;
}

.segurospg-item-titulo p span {
    color: var(--cor-4);
    font: 500 0.75rem/1.35 var(--font-main), sans-serif;
    text-align: right;
}

.segurospg-item-titulo .ouro {
    color: var(--cor-p1);
}

.segurospg-item-lista {
    color: #fff;
    font: 500 1.125rem/1.35 var(--font-secondary), sans-serif;
}

.segurospg-item-lista li {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1.5rem;
}

.segurospg-item-lista li::before {
    content: "";
    position: absolute;
    left: -21px;
    background-image: url(/img/icones/lista.svg);
    background-repeat: no-repeat;
    width: 0.8rem;
    height: 0.60rem;
}