/* seguros - vantagens */

.vantagens-bg {
    background-color: var(--cor-0);
    color: #fff;
}

.vantagens {
    padding: 7.5rem 1.25rem;
}

.vantagens-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 2.5rem 5rem;
    margin-top: 3.75rem;
}

.vantagens-item h3 {
    font: 500 1.5rem/1.5 var(--font-main), sans-serif;
}

.vantagens-item h3,
.vantagens-item img {
    margin-bottom: 8px;
}

.vantagens-item p {
    color: var(--cor-3);
    font: 400 1rem/1.5 var(--font-secondary), sans-serif;
}