/* modelos bicicletas */

#nimbus .titulo1,
#magic .titulo1 {
    padding: 3.75rem 1.25rem 2.5rem 1.25rem;
}

#nimbus .titulo1 p,
#magic .titulo1 p {
    font-size: 2rem;
}

.modelos-bg {
    background-color: var(--cor-1);
}

.modelos {
    padding: 0px 1.25rem 2.5rem 1.25rem;
}

/* modelos-content */
.modelos-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2.5rem;
}

.modelos-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.modelos-img img:first-child {
    grid-column: 1/-1;
}

.modelos-info p {
    color: var(--cor-3);
    font: 400 1.5rem/1.5 var(--font-secondary), sans-serif;
    margin-bottom: 2rem;
}

.modelos-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 2.5rem;
}

.modelos-comprar a {
    grid-row: span 2;
}

.modelos-comprar span {
    color: var(--cor-4);
    font: 500 12px var(--font-main), sans-serif;
    background-color: var(--cor-0);
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modelos-info h2 {
    color: #fff;
    font: 500 0.75rem/1.35 var(--font-main), sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.modelos-modal {
    background-color: var(--cor-0);
    padding: 2rem;
    border-radius: 4px;
}

.modelos-info-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.modelos-info-item img {
    width: 24px;
    margin-bottom: 4px;
}

.modelos-info-item h3 {
    color: #fff;
    font: 500 1.125rem/1.35 var(--font-main), sans-serif;
    margin-bottom: 8px;
}

.modelos-info-item span {
    color: var(--cor-3);
    font: 400 0.875rem/1.43 var(--font-secondary), sans-serif;
}

/* ficha técnica */
.subtitulo-ficha {
    margin: 2.5rem 0px 12px 0px;
}

.modelos-tecnica-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modelos-tecnica-item {
    border-bottom: 1px solid var(--cor-1);
    padding: 4px 0px;
}

.modelos-tecnica-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.modelos-tecnica-item h3,
.modelos-tecnica-item span {
    color: var(--cor-8);
    font: 400 1rem/1.5 var(--font-secondary), sans-serif;
}

.modelos-tecnica-item span {
    color: var(--cor-4);
}