/* modelos bicicletas */

.modelos {
    background-color: var(--cor-1);
    color: #fff;
}

.modelos-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.75rem 1.25rem;
}

/* modelos-titulo */
.modelos-titulo p {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 2rem;
    color: var(--cor-3);
}

.modelos-titulo h1 {
    font-family: var(--font-main);
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2.5rem;
}

.modelos-titulo h1 span {
    color: var(--cor-p1);
}

/* modelos-content */
.modelos-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2.5rem;
}

.modelos-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.modelos-img img:first-child {
    grid-column: 1/-1;
}

.modelos-info p {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    color: var(--cor-3);
    margin-bottom: 2rem;
}

.modelos-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 2.5rem;
}

.modelos-comprar a {
    grid-row: span 2;
}

.modelos-comprar span {
    font-family: var(--font-main);
    font-size: 12px;
    font-weight: 500;
    color: var(--cor-4);
    background-color: var(--cor-0);
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.modelos-info h2 {
    font-family: var(--font-main);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.18px;
    margin: 12px 0px;
}

.modelos-informacoes,
.modelos-tecnica {
    background-color: var(--cor-0);
    padding: 2rem;
    border-radius: 4px;
}

.modelos-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.modelos-item img {
    width: 24px;
    margin-bottom: 4px;
}

.modelos-item h2 {
    font-family: var(--font-main);
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.modelos-item span {
    font-family: var(--font-secondary);
    font-size: 14px;
    color: var(--cor-3);
}

/* ficha técnica */
.modelos-tecnica-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modelos-tecnica-item {
    border-bottom: 1px solid var(--cor-1);
    padding: 4px 0px;
}

.modelos-tecnica-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.modelos-tecnica-item h3 {
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--cor-8);
}

.modelos-tecnica-item span {
    color: var(--cor-4);
    font-family: var(--font-secondary);
}