/* outras bicicletas */

.outras-bicicletas {
    padding: 3.75rem 1.25rem 8.75rem 1.25rem;
}

.outras-bicicletas h2 {
    margin-bottom: 2.5rem;
}

.outras-bicicletas-lista {
    display: flex;
    gap: 2.5rem;
}

.outras-bicicletas-item a h3 {
    color: var(--cor-1);
    font: 600 2rem/1.25 var(--font-main), sans-serif;
    margin: 1rem 0px 8px 0px;
    display: flex;
    align-items: center;
}

.outras-bicicletas-item a h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: var(--cor-p1);
    margin-right: 8px;
    transition: 0.2s;
}

.outras-bicicletas-item a:hover h3::before {
    width: 24px;
}

.outras-bicicletas-item a span {
    color: var(--cor-2);
    font: 500 1.125rem/1.35 var(--font-secondary), sans-serif;
    font-family: var(--font-secondary);
    margin-left: 1.25rem;
}