/* pedale seguro */

.pedale-seguro-bg {
    background-color: var(--cor-1);
    box-shadow: inset 0px 120px #fff, inset 0px -120px var(--cor-0);
}

.pedale-seguro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.pedale-seguro-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pedale-seguro-content {
    margin: 11.25rem 0px;
}

.pedale-seguro-content h2 {
    color: #fff;
    text-transform: unset;
    margin-bottom: 2rem;
}

.pedale-seguro-content p {
    color: var(--cor-3);
    font: 400 1.5rem/1.5 var(--font-secondary), sans-serif;
    margin-bottom: 1.25rem;
}