/* termos e condições */
.termos {
    padding: 5rem 1.25rem;
}

.termos h2 {
    color: var(--cor-1);
    font-family: var(--font-main);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.termos p {
    font-family: var(--font-secondary);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cor-5);
    max-width: 75ch;
    margin-bottom: 1.5rem;
}

.termos p+h2 {
    margin-top: 2.5rem;
}

@media(width <=600px) {
    .termos {
        padding: 2.5rem 1.25rem;
    }
}