/* seguros */

.seguros {
    background-color: var(--cor-1);
}

.seguros-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.75rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2.5rem;
}

.seguros-container h2 {
    grid-column: 1/-1;
    font-family: var(--font-main);
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.seguros-container h2 span {
    color: var(--cor-p1);
}

.seguros-item {
    display: inline-block;
    background-color: var(--cor-0);
    border-radius: 4px;
    padding: 2rem 3.5rem;
}

.seguros-item-header {
    display: flex;
    justify-content: space-between;
}

.seguros-item-titulo {
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--cor-4);
}

.seguros-item-titulo.ouro {
    color: var(--cor-p1);
}

.seguros-item-header h4 {
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.seguros-item-header h4 span {
    display: block;
    font-size: 0.75rem;
    text-align: right;
    color: var(--cor-4);
}

.seguros-item-lista {
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1.125rem;
    color: #fff;
}

.seguros-item-lista li {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1.5rem;
}

.seguros-item-lista li::before {
    position: absolute;
    left: -21px;
    content: "";
    background-image: url(/img/icones/lista.svg);
    background-repeat: no-repeat;
    width: 0.8rem;
    height: 0.60rem;
}