@media (width <=1000px) {
    .logotipo {
        margin-top: 2rem;
    }

    .menu {
        margin-top: 2.5rem;
    }

    .main {
        grid-template-columns: 1fr;
        padding: 2rem 0;
        gap: 1rem;
    }

    .introducao {
        padding: 2rem;
        justify-items: center;
    }

    .introducao h1 {
        font-size: 1.5rem;
    }

    .introducao h1::before {
        display: none;
    }

    .introducao p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 1rem;
        max-width: 65ch;
    }

    .subtitulo {
        margin-right: 0;
        text-align: center;
        margin: 1rem 2rem;
    }

    .subtitulo h2 {
        font-size: 3rem;
    }

    .vantagens {
        padding: 2rem;
    }

    .vantagens_item p {
        max-width: 65ch;
    }
}

@media(prefers-color-scheme:dark) {
    body {
        background-color: #111;
    }

    .logotipo img {
        background-color: #555;
        padding: 10px 20px;
        border-radius: 8px;
    }

    .menu a {
        background-color: #555;
        color: #fff;
        border-radius: 4px;
        border-color: #555;
    }

    .introducao,
    .vantagens {
        background-color: #555;
        color: #fff;
    }


    .vantagens_item:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.6);
        color: #111;
    }

    .subtitulo h2 {
        color: rgba(255, 255, 255, 0.6);
    }

    footer p {
        color: #fff;
    }
}